.loginContainer{
    margin-left: 39%;
    margin-bottom: 17rem;
    margin-top: 10rem;
    border: 1px solid gray;
    width: 25rem;
    padding-left: 5rem;
    padding-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem rgba(132, 139, 200, 0.25);
}
/* .backgroud{
    background-color: #abb2c4;
} */
.loginButton{
    background-color:#1976d2;
    margin-top: 2rem;
    width: 19.7rem;
    padding: 0.8rem 0;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.loginInput{
    padding: 0.8rem 6.2rem 0.8rem 1rem;
    border-radius: 5px;
    font-size: 16px;
}
.buttonDiv{
    margin-left: 1rem;
}